body {
  background: #fff7f3 !important;
}
.userInput {
  border: 1.2px solid #141414 !important;
  background: #fff !important;
  width: 100% !important;
  height: 100% !important;
  font-size: 1.2rem !important;
  padding: 10px !important;
  outline: none !important;
  border-radius: 2px !important;
  box-sizing: border-box;
}

::placeholder {
  font-size: 1rem;
}

.generateButton {
  background: #fff;
  border: 1.2px solid #141414;
  padding: 15px 25px;
  border-radius: 40px;
  text-align: center;
  margin-top: 20px;
  font-size: 1rem;
  transition: all 0.2s ease-in-out;
  outline: none;
  width: 100%;
  text-transform: uppercase;
  box-sizing: border-box;
}

.button:hover {
  background: #141414;
  color: #fff;
}

.App {
  margin: auto;
  width: 100%;
  padding: 10px;
  text-align: center;
}

/* bootstrap customization */
.navbar,
.navbar-default {
    background-color: #fdf9f3 !important; /* override background image gradient w/ flat color */
    box-shadow: 4px 4px 0px #716e6c73;
    border: 3px black solid;
}

.btn {
  color: black !important;
  border: 2px solid black !important;
  box-shadow: 2px 2px 0 #716e6c73 !important;
  background-color: #66e2d5 !important;
}